<section class="widget adsense">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-0712823212859607"
        crossorigin="anonymous"></script>
    <!-- vertical1 -->
    <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-0712823212859607"
        data-ad-slot="8117949234"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</section>