<style>
    :root {
        --article-font-family: "IBM Plex Sans KR", var(--base-font-family);
        --code-font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    }
</style>

<script>
		(function () {
		    const customFont = document.createElement('link');
		    customFont.href = "https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300;500;700&family=Nanum+Gothic+Coding:wght@400;700&display=swap";
		
		    customFont.type = "text/css";
		    customFont.rel = "stylesheet";
		
		    document.head.appendChild(customFont);
		}());
</script>