<meta charset='utf-8'>
<meta name='viewport' content='width=device-width, initial-scale=1'>

{{- $description := partialCached "data/description" . .RelPermalink -}}
<meta name='description' content='{{ $description }}'>

{{- $title := partialCached "data/title" . .RelPermalink -}}
<title>{{ $title }}</title>

<style>
    /* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500;700&family=Noto+Serif+SC:wght@300;400;500;600&display=swap'); */
    /* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500&display=swap'); */
    @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300;600&display=swap');
</style>

<link rel='canonical' href='{{ .Permalink }}'>

{{- partial "head/style.html" . -}}
{{- partial "head/script.html" . -}}
{{- partial "head/opengraph/include.html" . -}}

{{- range .AlternativeOutputFormats -}}
    <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
{{- end -}}

{{ with .Site.Params.favicon }}
    <link rel="shortcut icon" href="{{ . }}" />
{{ end }}

{{ partial "head/analytics-gtag.html" . }}

<!--{{- template "_internal/google_analytics.html" . -}}-->
<!-- {{- partial "head/custom.html" . -}} -->
