{{ define "main" }}
	{{ with .Params.featured_image }}
		{{ $imageResource := ($.Site.GetPage "uploads").Resources.GetMatch (.) }}
		{{ with $imageResource }}
			{{/* $resized := $imageResource.Fill "800x250 q100" | images.Filter (images.Brightness 10) */}}
			<div class="post-up" style="background-image: url({{ $imageResource.RelPermalink }}); background-size: cover; background-position: 50% 35%; position: relative; width:100%; height:20rem">
			</div>
		{{ end }}
	{{ end }}
<main>
	<div class="post">
		{{ partial "single/post-info.html" . }}
		{{ partial "single/title.html" . }}

		{{ partial "single/header.html" . }}

		{{ .Content }}

		{{ partial "single/footer.html" . }}
	</div>

	<div class="pagination">
		{{- if .PrevPage }}
		<a href="{{ .PrevPage.RelPermalink }}" class="left arrow">&#8592;</a>
		{{- end }}
		{{- if .NextPage }}
		<a href="{{ .NextPage.RelPermalink }}" class="right arrow">&#8594;</a>
		{{- end }}

		<a href="#" class="top">Top</a>
	</div>
</main>

{{ end }}
