@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&display=swap');

@font-face {
    font-family: 'IBM Plex Sans KR';
    font-style: normal;
    font-weight: 300;
    src: url('/fonts/IBM_Plex/IBMPlexSansKR-Light.eot'); /* IE9 Compat Modes */
    src: local('IBM Plex Sans KR Light'),
    url('/fonts/IBM_Plex/IBMPlexSansKR-Light.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/IBM_Plex/IBMPlexSansKR-Light.woff') format('woff'), /* Modern Browsers */
    url('/fonts/IBM_Plex/IBMPlexSansKR-Light.ttf') format('truetype') /* Safari, Android, iOS */
}

@font-face {
    font-family: 'IBM Plex Sans KR';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/IBM_Plex/IBMPlexSansKR-Medium.eot'); /* IE9 Compat Modes */
    src: local('IBM Plex Sans KR Medium'),
    url('/fonts/IBM_Plex/IBMPlexSansKR-Medium.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/IBM_Plex/IBMPlexSansKR-Medium.woff') format('woff'), /* Modern Browsers */
    url('/fonts/IBM_Plex/IBMPlexSansKR-Medium.ttf') format('truetype') /* Safari, Android, iOS */
}

@font-face {
    font-family: 'IBM Plex Sans KR';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/IBM_Plex/IBMPlexSansKR-SemiBold.eot'); /* IE9 Compat Modes */
    src: local('IBM Plex Sans KR SemiBold'),
    url('/fonts/IBM_Plex/IBMPlexSansKR-SemiBold.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/IBM_Plex/IBMPlexSansKR-SemiBold.woff') format('woff'), /* Modern Browsers */
    url('/fonts/IBM_Plex/IBMPlexSansKR-SemiBold.ttf') format('truetype') /* Safari, Android, iOS */
}


body {
    font-family: 'IBM Plex Sans KR', sans-serif;
}