<br/>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-0712823212859607"
     crossorigin="anonymous"></script>
<!-- inpost1 -->
<ins class="adsbygoogle"
     style="display:block; text-align:center;"
     data-ad-layout="in-article"
     data-ad-format="fluid"
     data-ad-client="ca-pub-0712823212859607"
     data-ad-slot="7880266545"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-0712823212859607"
     crossorigin="anonymous"></script>
<!-- infeed1 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="fluid"
     data-ad-layout-key="-fx-q+4w-88+2u"
     data-ad-client="ca-pub-0712823212859607"
     data-ad-slot="1092971030"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<br/>